body {
  background-color: #FEE500;
  width: 80%;
  margin: 0 auto;
}

.App {
  background-color: #FEE500;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #FEE500;
  display: flex;
  justify-content: end;
  padding-right: 10%;
  padding-top: 20px;
}

.Box {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-decoration-line: none;
}

.Box:hover {
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.8;
}
